@font-face {
    font-family: "iconfont";
    src: url("../fonts/iconfont.eot?c7418fe8a2894c8701986252b236f05a?#iefix") format("embedded-opentype"),
url("../fonts/iconfont.woff2?c7418fe8a2894c8701986252b236f05a") format("woff2"),
url("../fonts/iconfont.woff?c7418fe8a2894c8701986252b236f05a") format("woff"),
url("../fonts/iconfont.ttf?c7418fe8a2894c8701986252b236f05a") format("truetype"),
url("../fonts/iconfont.svg?c7418fe8a2894c8701986252b236f05a#iconfont") format("svg");
}

i[class^="iconfont-"]:before, i[class*=" iconfont-"]:before {
    font-family: iconfont !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Icon constants */
$iconfont-arrow-down: "\f101";
$iconfont-arrow-next: "\f102";
$iconfont-arrow-prev: "\f103";
$iconfont-chat: "\f104";
$iconfont-checkbox: "\f105";
$iconfont-close: "\f106";
$iconfont-control: "\f107";
$iconfont-dropdown-arrow: "\f108";
$iconfont-ellipse: "\f109";
$iconfont-eye: "\f10a";
$iconfont-facebook: "\f10b";
$iconfont-information: "\f10c";
$iconfont-linkedin: "\f10d";
$iconfont-mail: "\f10e";
$iconfont-play: "\f10f";
$iconfont-smile: "\f110";
$iconfont-star-half: "\f111";
$iconfont-star: "\f112";
$iconfont-twitter: "\f113";

.iconfont-arrow-down:before {
    content: $iconfont-arrow-down;
}
.iconfont-arrow-next:before {
    content: $iconfont-arrow-next;
}
.iconfont-arrow-prev:before {
    content: $iconfont-arrow-prev;
}
.iconfont-chat:before {
    content: $iconfont-chat;
}
.iconfont-checkbox:before {
    content: $iconfont-checkbox;
}
.iconfont-close:before {
    content: $iconfont-close;
}
.iconfont-control:before {
    content: $iconfont-control;
}
.iconfont-dropdown-arrow:before {
    content: $iconfont-dropdown-arrow;
}
.iconfont-ellipse:before {
    content: $iconfont-ellipse;
}
.iconfont-eye:before {
    content: $iconfont-eye;
}
.iconfont-facebook:before {
    content: $iconfont-facebook;
}
.iconfont-information:before {
    content: $iconfont-information;
}
.iconfont-linkedin:before {
    content: $iconfont-linkedin;
}
.iconfont-mail:before {
    content: $iconfont-mail;
}
.iconfont-play:before {
    content: $iconfont-play;
}
.iconfont-smile:before {
    content: $iconfont-smile;
}
.iconfont-star-half:before {
    content: $iconfont-star-half;
}
.iconfont-star:before {
    content: $iconfont-star;
}
.iconfont-twitter:before {
    content: $iconfont-twitter;
}


