@font-face {
    font-family: "iconfont";
    src: url("../fonts/iconfont.eot?030ce6d6c01567b2672231bbe305278f?#iefix") format("embedded-opentype"),
url("../fonts/iconfont.woff2?030ce6d6c01567b2672231bbe305278f") format("woff2"),
url("../fonts/iconfont.woff?030ce6d6c01567b2672231bbe305278f") format("woff"),
url("../fonts/iconfont.ttf?030ce6d6c01567b2672231bbe305278f") format("truetype"),
url("../fonts/iconfont.svg?030ce6d6c01567b2672231bbe305278f#iconfont") format("svg");
}

i[class^="iconfont-"]:before, i[class*=" iconfont-"]:before {
    font-family: iconfont !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Icon constants */
$iconfont-arrow-down: "\f101";
$iconfont-arrow-next: "\f102";
$iconfont-arrow-prev: "\f103";
$iconfont-chat: "\f104";
$iconfont-check: "\f105";
$iconfont-checkbox: "\f106";
$iconfont-close: "\f107";
$iconfont-control: "\f108";
$iconfont-copy: "\f109";
$iconfont-download: "\f10a";
$iconfont-dropdown-arrow: "\f10b";
$iconfont-ellipse: "\f10c";
$iconfont-envelope: "\f10d";
$iconfont-eye: "\f10e";
$iconfont-facebook: "\f10f";
$iconfont-information: "\f110";
$iconfont-linkedin: "\f111";
$iconfont-mail: "\f112";
$iconfont-modal-close: "\f113";
$iconfont-next: "\f114";
$iconfont-play: "\f115";
$iconfont-prev: "\f116";
$iconfont-request: "\f117";
$iconfont-search: "\f118";
$iconfont-smile: "\f119";
$iconfont-star-half: "\f11a";
$iconfont-star: "\f11b";
$iconfont-twitter: "\f11c";

.iconfont-arrow-down:before {
    content: $iconfont-arrow-down;
}
.iconfont-arrow-next:before {
    content: $iconfont-arrow-next;
}
.iconfont-arrow-prev:before {
    content: $iconfont-arrow-prev;
}
.iconfont-chat:before {
    content: $iconfont-chat;
}
.iconfont-check:before {
    content: $iconfont-check;
}
.iconfont-checkbox:before {
    content: $iconfont-checkbox;
}
.iconfont-close:before {
    content: $iconfont-close;
}
.iconfont-control:before {
    content: $iconfont-control;
}
.iconfont-copy:before {
    content: $iconfont-copy;
}
.iconfont-download:before {
    content: $iconfont-download;
}
.iconfont-dropdown-arrow:before {
    content: $iconfont-dropdown-arrow;
}
.iconfont-ellipse:before {
    content: $iconfont-ellipse;
}
.iconfont-envelope:before {
    content: $iconfont-envelope;
}
.iconfont-eye:before {
    content: $iconfont-eye;
}
.iconfont-facebook:before {
    content: $iconfont-facebook;
}
.iconfont-information:before {
    content: $iconfont-information;
}
.iconfont-linkedin:before {
    content: $iconfont-linkedin;
}
.iconfont-mail:before {
    content: $iconfont-mail;
}
.iconfont-modal-close:before {
    content: $iconfont-modal-close;
}
.iconfont-next:before {
    content: $iconfont-next;
}
.iconfont-play:before {
    content: $iconfont-play;
}
.iconfont-prev:before {
    content: $iconfont-prev;
}
.iconfont-request:before {
    content: $iconfont-request;
}
.iconfont-search:before {
    content: $iconfont-search;
}
.iconfont-smile:before {
    content: $iconfont-smile;
}
.iconfont-star-half:before {
    content: $iconfont-star-half;
}
.iconfont-star:before {
    content: $iconfont-star;
}
.iconfont-twitter:before {
    content: $iconfont-twitter;
}


