.font-family-second {
    font-family: 'Merriweather';
}

h1 {
    font-weight: 600;
    font-size: 60px;
    color: $white;
}

h2 {
    font-weight: 700;
    font-size: 45px;
    color: $black;
}

h3 {
    font-weight: bold;
    font-size: 30px;
    color: $black;
}

h4 {
    font-weight: bold;
    font-size: 25px;
    color: $black;
}

h5 {
    font-weight: bold;
    font-size: 17px;
    color: $black;
}

p {
    font-weight: 400;
    font-size: 20px;
    color: $grey;
}

.font-size-54px {
    font-size: 54px!important;
}

.font-size-30px {
    font-size: 30px!important;
}

.font-size-24px {
    font-size: 24px!important;
}

.font-size-21px {
    font-size: 21px!important;
}

.font-size-20px {
    font-size: 20px!important;
}

.font-size-19px {
    font-size: 19px!important;
}

.font-size-18px {
    font-size: 18px!important;
}

.font-size-16px {
    font-size: 16px!important;
}

.font-size-15px {
    font-size: 15px!important;
}

.font-size-14px {
    font-size: 14px!important;
}

.font-size-13px {
    font-size: 13px!important;
}

.font-size-12px {
    font-size: 12px!important;
}

.font-size-10px {
    font-size: 10px!important;
}