@mixin card-style {
    padding: 0 20px 25px 20px;
    .card-title {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px!important;
    }
    .card-body {
        padding-top: 10px;
    }
    @media (max-width: 576px) {
        padding: 0 15px 25px 15px;
    }
}