@import "../components/card";
@import "../components/badge";
.home-page {
    h1 {
        font-weight: bold;
        font-size: 3.125rem;
        @media (max-width: 576px) {
            font-size: 2.188rem!important;
        }
    }
    h3 {
        font-weight: bold;
        font-size: 1.875rem;
    }
    h4 {
        font-weight: bold;
        font-size: 1.5rem;
        @media (max-width: 576px) {
            font-size: 1.5rem!important;
        }
    }
    .card {
        @include card-style;
    }
    .card-bg {
        &::before {
            z-index: 0;
        }
    }
    .badge-container-top {
        @include badge-container-top;
    }
    .badge {
        @include badge-style;
    }
    .font-size-20px {
        @media (max-width: 576px) {
            font-size: 18px!important;
        }
    }
    .hero-subtitle {
        font-size: 18px;
        @media (max-width: 576px) {
            font-size: 16px!important;
        }
    }
    .hero {
        padding-top: 150px;
        background: linear-gradient(to right, $mediumpurple 10%, $deepskyblue 90%);
        @media (max-width: 576px) {
            padding-top: 100px;
            background: linear-gradient(to bottom, $deepskyblue 10%, #8460FE 90%);
        }
    }
    .hero-details {
        position: relative;
        .hero-block {
            padding: 25px;
            &.search {
                label {
                    font-size: 1rem;
                    color: $darkgrey;
                    padding: 0;
                    margin-bottom: 3px;
                }
            }
            @media (max-width: 576px) {
                padding: 15px;
            }
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 55%;
            left: 0;
            background: linear-gradient(to right, #BF3EFE 10%, #1B9EFF 90%);
            @media (max-width: 991px) {
                height: 45%;
            }
            @media (max-width: 767px) {
                height: 40%;
            }
            @media (max-width: 576px) {
                height: 39%;
                background: linear-gradient(to bottom, #8460FE 50%, $mediumpurple 90%);
            }
        }
    }
    .dropdown-menu {
        border: 1px solid $darkgrey;
        border-radius: 10px;
        .dropdown-item {
            font-size: 16px;
            color: $darkgrey;
            &.active {
                color: $black;
                background-color: #FAFAFA;
                padding: 11px 15px;
            }
            &:hover {
                color: $black;
                background: #FAFAFA;
            }
        }
    }
    .search .input-group {
        border: 1px solid $darkgrey;
    }
    .btn-light {
        border: 1px solid $darkgrey;
    }
    .form-control {
        padding: 13px 20px;
        &::placeholder {
            color: #A7A7A7;
        }
    }
    .input-group-text {
        padding: 0.375rem 1.25rem;
    }
    .bootstrap-select>.dropdown-toggle.bs-placeholder,
    .bootstrap-select>.dropdown-toggle.bs-placeholder:active,
    .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
    .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
        color: #A7A7A7;
    }
    .bootstrap-select>.dropdown-toggle {
        padding: 12px 20px;
    }
    .dropdown-toggle {
        &::after {
            color: #585858;
            border: none;
            font-size: 8px;
            font-family: iconfont !important;
            content: "\f101";
        }
    }
}