.home-page {
    h1 {
        font-weight: bold;
        font-size: 3.125rem;
        @media (max-width: 576px) {
            font-size: 2.188rem!important;
        }
    }
    h3 {
        font-weight: bold;
        font-size: 1.875rem;
    }
    h4 {
        font-weight: bold;
        font-size: 1.5rem;
        @media (max-width: 576px) {
            font-size: 1.5rem!important;
        }
    }
    .font-size-20px {
        @media (max-width: 576px) {
            font-size: 18px!important;
        }
    }
    .hero-subtitle {
        font-size: 18px;
        @media (max-width: 576px) {
            font-size: 16px!important;
        }
    }
    .hero {
        padding-top: 150px;
        @media (max-width: 576px) {
            padding-top: 100px;
        }
    }
    .hero-details {
        .hero-block {
            padding: 30px;
            &.search {
                label {
                    font-size: 14px;
                    color: $darkgrey;
                    padding: 0;
                }
            }
            @media (max-width: 576px) {
                padding: 15px;
            }
        }
        .hero-bg {
            @media (max-width: 576px) {
                min-height: 80vh;
            }
        }
    }
    .card {
        padding: 0 20px 25px 20px;
        .card-title {
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 20px!important;
        }
        .card-body {
            padding-top: 10px;
        }
        @media (max-width: 576px) {
            padding: 0 15px 25px 15px;
        }
    }
    .badge-container-top {
        top: -5%;
        right: initial;
        left: 50%;
    }
    .badge {
        font-size: 12px;
        padding: 9px 15px;
        &.badge-position {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-weight: bold;
            font-size: 14px;
            position: absolute;
            bottom: 8px;
            right: 8px;
            padding: 6px 16px;
            border-radius: 5px;
        }
        &.badge-position-top {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
            font-weight: 500;
            font-size: 16px!important;
            margin-left: -50%;
            padding: 6px 24px;
            border-radius: 5px;
        }
    }
    .dropdown-menu {
        border: 1px solid $darkgrey;
        border-radius: 10px;
        .dropdown-item {
            font-size: 16px;
            color: $darkgrey;
            &.active {
                color: $black;
                background-color: #FAFAFA;
                padding: 11px 15px;
            }
            &:hover {
                color: $black;
                background: #FAFAFA;
            }
        }
    }
    .search .input-group {
        border: 1px solid $darkgrey;
    }
    .btn-light {
        border: 1px solid $darkgrey;
    }
}