.inner-page {
    .btn-outline-primary {
        padding: 11px 30px;
    }
    ul {
        li {
            font-family: 'Merriweather';
            font-style: italic;
            font-weight: 300;
            font-size: 19px;
            color: $grey;
        }
    }
}