.inner-page {
    .interact-modal {
        .modal-header {
            padding: 14px 20px 0 20px;
            .btn-close {
                border: 1px solid #1B9EFF;
                border-radius: 5px;
                padding: 1rem;
                &:hover {
                    background: #1B9EFF;
                    border: 1px solid #1B9EFF;
                    box-shadow: 0 4px 16px 0 rgba(65, 132, 234, 0.75);
                }
                &:hover::after {
                    color: white;
                }
            }
        }

        .modal-dialog {
            height: 100%;
            margin-top: 0;
            margin-bottom: 0;
        }
          
        .modal-content {
            height: auto;
            min-height: calc(100vh - 7px);
            border-radius: 0;
            border: none;
        }

        .modal-body {
            display: grid;
            padding: 0;
            padding-top: 1rem;
        }

        .internal-block {
            background-color: $silver;
            width: 100%;
            height: 100%;
        }
    }
    .modal-backdrop {
        background: rgba(0, 0, 0, 0.4);
        &.show {
            opacity: initial;
        }
    }
    .btn-outline-primary {
        padding: 11px 30px;
    }
    ul.list-items {
        margin-bottom: 40px;
        li {
            font-family: 'Merriweather';
            font-style: italic;
            font-weight: 300;
            font-size: 19px;
            color: $grey;
        }
    }
    .descr-border {
        font-size: 18px;
        position: relative;
        padding-left: 15px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 27px;
            background: $black;
        }
    }
    .card {
        @include card-style;
    }
    .badge-container-top {
        @include badge-container-top;
    }
    .badge {
        @include badge-style;
    }
    .play-button-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .play-btn {
        background: white;
        border: 1px solid $deepskyblue;
        border-radius: 100px;
        padding: .375rem 1.375rem .375rem .375rem;
        font-size: 20px;
        color: $black;
    }
    .play-icon-style {
        width: 39px;
        height: 39px;
        background: linear-gradient(221.99deg, #B742FE 4.74%, #1B9EFF 100%);
        border-radius: 100px;
        margin-right: 18px;
        padding-left: 2px;
    }
    .form-label {
        margin-bottom: 6px;
    }
    .form-control {
        font-weight: normal;
        padding: 11px 15px;
        border: 1px solid #858585;
        &:focus {
            border: 1px solid #858585;
        }
        &::placeholder {
            color: #B3B3B3;
        }
    }
    .modal-header {
        padding: 23px 0 0 0;
    }
    .modal-body {
        padding: 50px 25px 100px 25px;
    }
    .btn-close {
        background-image: none;
        opacity: 1;
        &::after {
            display: inline;
            content: $iconfont-close;
            font-family: iconfont !important;
            color: $deepskyblue;
        }
        &:hover {
            color: #5979FF;
            box-shadow: none;
        }
    }
    .hero-details {
        h4 {
            font-size: 1.5rem;
        }
        @media (max-width: 576px) {
            h3 {
                font-weight: 500;
                font-size: 1.25rem!important;
            }
            h4 {
                font-size: 1.125rem!important;
                color: $darkgrey;
            }
            .mb-40px {
                margin-bottom: 20px;
            }
            .font-size-19px {
                font-size: 1rem!important;
            }
            ul.list-items {
                margin-bottom: 10px;
                li {
                    font-size: 1rem;
                }
            }
            .badge {
                font-size: .75rem!important;
            }
            .btn-link {
                font-size: 1.25rem;
            }
            .mb-68px {
                margin-bottom: 30px;
            }
            .mb-60px {
                margin-bottom: 20px;
            }
        }
        .card {
            h4 {
                font-size: 24px!important;
                font-weight: 700!important;
                color: $black!important;
            }
            .card-title {
                color: $black!important;
                font-size: 20px!important;
                font-weight: 500!important;
            }
            @media (min-width: 992px) {
                padding: 0 30px 25px 30px;
            }
        }
    }
    .mobile-slider {
        .thubms-slider {
            position: relative;
            margin-top: 0.8rem;
            .owl-prev {
                width: 15px;
                height: 16px;
                position: absolute;
                top: calc(50% - 8px);
                left: 0;
                display: block !important;
                border: 0px solid black;
            }
            .owl-next {
                width: 15px;
                height: 16px;
                position: absolute;
                top: calc(50% - 8px);
                right: 0;
                display: block !important;
                border: 0px solid black;
            }
            .owl-prev i,
            .owl-next i {
                transform: scale(1, 6);
                color: $deepskyblue;
            }
            .owl-nav {
                position: static;
            }
            .item {
                padding: 4px;
            }
            .center {
                .item {
                    border: 1px solid $deepskyblue;
                    border-radius: 9px;
                    background-color: #E7E7E7;
                    padding: 4px;
                }
            }
        }
    }
}