.trial-page {
    h1 {
        font-family: 'Futura PT';
        font-weight: 300;
        font-size: 2.5rem;
        color: #3C4858!important;
    }
    h2 {
        font-family: 'Futura PT';
        font-weight: bold;
        font-size: 1.875rem;
        color: $black!important;
    }
    h3 {
        font-family: 'Futura PT';
        font-weight: bold;
        font-size: 1.313rem;
        color: $black!important;
    }
    .title {
        font-family: 'Futura PT';
        font-weight: 400;
        font-size: 1.313rem;
        color: #3C4858!important;
    }
    .subtitle {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 25px;
        color: #555D6D;
    }
    .description {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #3C4858;
    }
    ol {
        font-family: 'Merriweather';
        margin: 0 0 1.5em;
        padding: 0;
        counter-reset: item;
        color: #3C4858;
        font-size: 14px;
        padding-left: 1rem;
    }
    ol>li {
        margin: 0;
        padding: 0 0 0 4px;
        //list-style-type: none;
        //counter-increment: item;
        &::marker {
            font-weight: bold;
        }
        &::before {
            display: inline-block;
            width: 1.5em;
            padding-right: 0.5em;
            font-weight: bold;
            text-align: right;
            //content: counter(item) ".";
        }
    }
    .trial-start {
        .card {
            background: #FFFFFF;
            box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.09);
            border-radius: 15px;
            padding: 0;
            .card-body {
                padding: 1.875rem 3.75rem;
                .card-text {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 23px;
                    text-align: center;
                    color: #3C4858;
                }
                .card-title-divider::after {
                    display: block;
                    content: "";
                    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
                    width: calc(100% + 36px);
                    margin-left: -1.875rem;
                    position: absolute;
                }
                .card-divider:after {
                    display: block;
                    content: "";
                    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
                    width: calc(100% + 36px);
                    margin-left: -1.875rem;
                    position: absolute;
                    bottom: 0;
                }
            }
            .card-header {
                padding: 30px 0 15px 0;
                background-color: transparent;
                border-bottom: none;
                &::after {
                    display: block;
                    content: "";
                    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
                    width: 100%;
                    margin-left: 0;
                    position: absolute;
                    bottom: 0;
                }
                &.header-decor {
                    &::before {
                        display: block;
                        content: "";
                        height: 21px;
                        width: 100%;
                        top: 0;
                        position: absolute;
                        border-top-left-radius: 15px;
                        background: linear-gradient(0deg, transparent 87%, rgba(234, 194, 17, 1) 87%);
                        border-top-right-radius: 15px;
                    }
                }
            }
            .card-footer {
                padding: 30px;
                &::before {
                    display: block;
                    content: "";
                    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
                    width: 100%;
                    margin-left: -30px;
                    position: absolute;
                    top: 0;
                }
            }
            &.step {
                //border-top: 2px solid #EAC211;
                .card-body {
                    padding: 30px;
                }
            }
        }
    }
    .card {
        .card-footer {
            padding: 0;
            background-color: transparent;
            border-top: none;
        }
        &.disabled {
            .card-body>*,
            .card-footer>* {
                opacity: 0.5;
            }
        }
    }
    .bg-danger {
        background-color: #FF0000!important;
    }
    .text-danger {
        color: #FF5A5A!important;
    }
    .badge {
        font-family: 'Futura PT';
        font-weight: 700;
        font-size: 11px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        padding: 2px 6px;
        &.badge-position-right {
            position: absolute;
            top: -9px;
            right: 155px;
            z-index: 1;
            opacity: 1!important;
        }
    }
    .download-block {
        background: #EBFCF4;
        border-radius: 5px;
        padding: 10px 46px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #3C4858;
    }
    .more-info-link {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #3669EC;
        &[aria-expanded=true] {
            display: none;
        }
    }
    .prev-link {
        font-family: 'Futura PT';
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: $black;
    }
    .btn-warning {
        background: linear-gradient(180deg, #F2C811 44.58%, #E6BB00 100%);
        border-radius: 5px;
        font-family: 'Futura PT';
        font-weight: bold;
        box-shadow: none;
        &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08), 0px 4px 10px rgba(230, 187, 0, 0.3);
        }
    }
    .btn-secondary {
        font-family: 'Futura PT';
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
        border: 1px solid #F1F1F1;
        border-radius: 5px;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        text-transform: uppercase;
        color: $black;
        padding: 15px;
        &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)!important;
        }
    }
    .form-control {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        border: 1px solid #D2D2D2;
        border-radius: 5px;
        padding: 9px 16px;
        &::placeholder {
            color: #ACACAC;
        }
    }
    .visuals-circle {
        width: 47px;
        height: 47px;
        background: #F5F5F5;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .avatar {
        width: 49px;
        height: 49px;
    }
    .form-wizard-steps {
        font-family: 'Futura PT';
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #3C4858;
        li {
            width: 25%;
            float: left;
            position: relative;
        }
    }
    .form-wizard-steps li::after {
        background-color: #E5E5E5;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        border-bottom: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
    }
    .form-wizard-steps li span {
        background-color: white;
        border: 1px solid #E5E5E5;
        border-radius: 50%;
        display: inline-block;
        height: 38px;
        line-height: 38px;
        position: relative;
        text-align: center;
        width: 38px;
        z-index: 1;
    }
    .form-wizard-steps li:last-child::after {
        width: 50%;
    }
    .form-wizard-steps li.active span,
    .form-wizard-steps li.activated span {
        background-color: #0BD474;
        color: #ffffff;
        border: none;
    }
    .form-wizard-steps li.active::after,
    .form-wizard-steps li.activated::after {
        background-color: #0BD474;
        left: 50%;
        width: 50%;
        border-color: #0BD474;
    }
    .form-wizard-steps li.activated::after {
        width: 100%;
        border-color: #0BD474;
    }
    .form-wizard-steps li:last-child::after {
        left: 0;
    }
    .btn-close {
        background-image: none;
        opacity: 1;
        &::after {
            display: inline;
            content: $iconfont-modal-close;
            font-family: iconfont !important;
            color: $black;
        }
        &:hover {
            color: #5979FF;
            box-shadow: none;
        }
    }
    ul {
        padding-left: 1rem;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 164.2%;
        color: #3C4858;
        li.download::marker {
            display: inline;
            content: $iconfont-download;
            font-family: iconfont !important;
            color: $yellow;
            font-size: 20px;
        }
        li.request::marker {
            display: inline;
            content: $iconfont-request;
            font-family: iconfont !important;
            color: $yellow;
            font-size: 20px;
        }
    }
    .modal-backdrop {
        background: rgba(0, 0, 0, 0.35);
    }
    .modal-backdrop.show {
        opacity: initial;
    }
    .modal-content {
        background: #FFFFFF;
        box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.09);
        border-radius: 3px;
        border: none;
    }
    .modal-block {
        border: 1px dashed #C4C4C4;
        border-radius: 10px;
        padding: 30px;
        .decor-list {
            &::before {
                display: block;
                content: "";
                border-top: 1px dashed rgba(0, 0, 0, 0.2);
                width: calc(100% + 60px);
                margin-left: -30px;
                position: absolute;
                bottom: 37px;
            }
        }
    }
    .modal-header {
        justify-content: center;
        padding: 0;
        border-bottom: 0;
    }
    .modal-body {
        padding: 25px 74px;
    }
    .modal-footer {
        padding: 0 74px 40px 74px;
        border-top: none;
    }
    #copyButton {
        cursor: pointer;
    }
    #copyTarget {
        border-left: none;
    }
    .copied {
        opacity: 1;
        position: absolute;
        left: 55px;
    }
    .copy-to-clipboard {
        .input-group {
            .form-control {
                border-bottom-right-radius: 0!important;
                border-top-right-radius: 0!important;
                &:focus {
                    box-shadow: none;
                }
            }
            .btn {
                border-bottom-left-radius: 0!important;
                border-top-left-radius: 0!important;
            }
        }
    }
    .input-group {
        border: 1px solid #C4C4C4;
        padding: 8px 15px;
        .input-group-addon {
            font-family: 'Futura PT';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            color: #3C4858;
            padding: 0;
            align-self: end;
        }
        .form-control {
            border: none;
            padding: 0;
            text-overflow: ellipsis;
        }
    }
    @media screen and (max-width: 767px) {
        .wizard-content-left {
            height: auto;
        }
        .title {
            font-size: 1.313rem!important;
        }
        h1 {
            font-size: 1.563rem!important;
        }
        h2 {
            font-size: 1.25rem!important;
        }
        h3 {
            font-size: 1.125rem!important;
        }
        .font-size-54px {
            font-size: 40px!important;
        }
        .subtitle {
            font-size: .875rem!important;
            line-height: 1.125rem!important;
            span {
                font-size: 14px!important;
            }
        }
        .description {
            font-size: 14px!important;
        }
        .pt-100px {
            padding-top: 70px;
        }
        .pb-30px {
            padding-bottom: 15px;
        }
        .pb-39px {
            padding-bottom: 29px;
        }
        .badge {
            font-size: 11px!important;
            &.badge-position-right {
                right: 255px;
            }
        }
        .trial-start {
            .card {
                .card-body {
                    padding: 1.25rem 1.875rem 1.563rem 1.875rem;
                    h3 {
                        font-size: 21px!important;
                    }
                }
                .card-header {
                    padding: 1.25rem;
                    &::before {
                        margin-left: -20px;
                    }
                    &::after {
                        margin-left: -20px;
                    }
                }
                .card-footer {
                    padding: 1.25rem;
                    &::before {
                        margin-left: -20px;
                    }
                }
                &.step {
                    .card-body {
                        padding: 20px;
                    }
                }
            }
        }
        .form-wizard-steps {
            font-size: 14px;
            li span {
                height: 26px;
                line-height: 26px;
                width: 26px;
            }
        }
        .modal-body {
            padding: 25px 36px;
        }
        .modal-block {
            border: none;
            padding: 0;
        }
        .modal-block .decor-list::before {
            width: calc(100% + 70px);
            margin-left: -52px;
        }
        .modal-footer {
            padding: 20px 30px;
            border-top: 1px dashed rgba(0, 0, 0, 0.2);
        }
    }
    @media (min-width: 992px) {
        .modal-lg,
        .modal-xl {
            max-width: 860px;
        }
    }
}